/*
underline-top | underline-bottom | underline-left-right | underline-right-left | underline-left-in-right | underline-ight-in-left | underline-center
<ul class="underline-bottom">
	<li><a href="#">menu01</a></li>
	<li><a href="#">menu02</a></li>
</ul>
*/


@mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: #000) {
	@if $dir == null {
	@if $type == fade {
		$dir: 'top';
	} @else if $type == slide {
		$dir: 'center';
	}
	}
	position: relative;
	display: inline-block;
	text-decoration: none;
	&::after {
		position: absolute;
		left: 0;
		content: '';
		width: 100%;
		height: $weight;
		background: $color;
		@if $type == fade {
			transition: .3s;
			opacity: 0;
			visibility: hidden;
			@if $dir == bottom {
			bottom: $weight * -4;
			} @else {
			bottom: $weight;
			}
		} @else if $type == slide {
			bottom: $weight * -2;
			transform: scale(0, 1);
			transition: transform .3s;
			@if $dir == left-right or $dir == right-in-left {
			transform-origin: left top;
			} @else if $dir == right-left or $dir == left-in-right {
			transform-origin: right top;
			} @else {
			transform-origin: center top;
			}
		}
	}
	&:hover::after {
	@if $type == fade {
		bottom: $weight * -2;
		opacity: 1;
		visibility: visible;
	} @else if $type == slide {
		@if $dir == left-in-right {
		transform-origin: left top;
		} @else if $dir == right-in-left {
		transform-origin: right top;
		}
		transform: scale(1, 1);
	}
	}
}

// usage
.underline-top a {
	@include hover-underline('fade', 'top');
}
.underline-bottom a {
	@include hover-underline('fade', 'bottom');
}
.underline-left-right a {
	@include hover-underline('slide', 'left-right');
}
.underline-right-left a {
	@include hover-underline('slide', 'right-left');
}
.underline-left-in-right a {
	@include hover-underline('slide', 'left-in-right');
}
.underline-ight-in-left a {
	@include hover-underline('slide', 'right-in-left');
}
.underline-center a {
	@include hover-underline('slide', 'center');
}